/.vscode
terraform/lxc/providers.tf
terraform/vm/providers.tf
terraform/workshop/.gitignore
terraform/workshop/bastion.tf
terraform/workshop/install-opentofu.sh
terraform/workshop/main.tf
terraform/workshop/terraform.tfstate
terraform/workshop/vars.tf
terraform/workshop/zabbix.tf
terraform/workshop/dhcp/dhcpd.conf
terraform/workshop/postgresql/bootstrap.sh
terraform/workshop/postgresql/ssh/moduli
terraform/workshop/postgresql/ssh/ssh_config
terraform/workshop/postgresql/ssh/ssh_host_dsa_key
terraform/workshop/postgresql/ssh/ssh_host_dsa_key.pub
terraform/workshop/postgresql/ssh/ssh_host_ecdsa_key
terraform/workshop/postgresql/ssh/ssh_host_ecdsa_key.pub
terraform/workshop/postgresql/ssh/ssh_host_ed25519_key
terraform/workshop/postgresql/ssh/ssh_host_ed25519_key.pub
terraform/workshop/postgresql/ssh/ssh_host_rsa_key
terraform/workshop/postgresql/ssh/ssh_host_rsa_key.pub
terraform/workshop/postgresql/ssh/sshd_config
terraform/workshop/zabbix/bootstrap.sh
terraform/workshop/zabbix-tfconfig/01_slidge.tf
terraform/workshop/zabbix-tfconfig/main.tf
terraform/workshop/zabbix-tfconfig/README.md
terraform/workshop/zabbix-tfconfig/vars.tf
terraform/workshop/zabbix-tfconfig/mirror/registry.opentofu.org/claranet/zabbix/.terraform-provider-zabbix_0.4.0_linux_amd64.zip
k8s_deploy/k8s_install/k8s_install_terraform/providers.tf
k8s_deploy/k8s_new_node/k8s_new_node_terraform/providers.tf
terraform/workshop/initlab-proxmox
terraform/workshop/initlab-proxmox
k8s_deploy/k8s_new_node/k8s_new_node_terraform/terraform.tfstate
k8s_deploy/k8s_new_node/k8s_new_node_terraform/terraform.tfstate
cloudinit_proxmox/link
cloudinit_homelab/link
